.quote-summary__title {
  margin: 0;
  font-size: 32px;
  line-height: 150%;
}

.quote-summary__description {
  margin-top: var(--size-20);
  margin-bottom: var(--size-50);
  font-size: var(--font-size-3);
  line-height: 150%;
}
